/*Portal website styles*/
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
}

#wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

h1, h2, h3 {
    margin-bottom: 30px; /*use margin bottom instead of padding*/
}

h1 {
    font-size: 2em;
    color: #336699;
    text-align: center;
    /*margin-top:20px;*/
}

h3 {
    color: red;
    padding-top: 20px;
}

p {
    margin-bottom: 20px;
    line-height: 1.4;
}

main {
    max-width:61.70%;
    float: left;
}

.switchMain {
    max-width: 100%;
    float:none;
}
.switchMain h1 {
    margin-top: 20px;
}

aside {
    max-width:36.17%;
    float: right;
    margin-bottom: 20px;
}
.contactAside {
    max-width: 50%;
    margin-right:20px;
    margin-top:60px;
}


img {
    max-width:100%;
    display:block; /*removes space below image */
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: row;
}

.column1 {
    width: 50%;
    margin: 20px;
    text-align: center;
    font-size: 14px;
}

.column1 img {
    width: 100%;
    margin-top: 20px;
}

.column2 {
    width: 25%;
    height: 150vh;
    padding: 10px;
    margin: 10px;
}

.column3 {
    width: 25%;
    height: 150vh;
    padding: 10px;
    margin: 10px;
}

.column3 li {
    list-style-type: none;
    margin-top: 10px;
    width: 100px;
}

h5 {
    font-size: 1em;
    font-style: italic;
    margin-top: 10px;
}

.column3 h4 {
    color: green;
    margin-bottom: 40px;
    margin-top: 150px;
}

aside p {
    font-size: .75em;
}

aside li {
    list-style-type: none;
    width: 100px;
}
aside a {
    font-size: .875em;
    color: #336699;
}

.backgroundMon {
    background-color: rgba(134,201,244,0.33);
    margin: 20px;
}

.backgroundTues {
    background-color: rgba(220,202,244,0.33);
}

.backgroundWed {
    background-color: rgba(197,244,190,0.33);
}

.backgroundThur {
    background-color: rgba(226,244,202,0.33);
}

.backgroundFri {
    background-color: rgba(244,235,212,0.33);
}

.backgroundSat {
    background-color: rgba(228,244,239,0.33);
}

.backgroundSun {
    background-color: rgba(244,211,219,0.33);
}

#view-aside {
    width:40%;
    float: left;
    margin-top: 100px;
    text-align: center;
    margin-left: -60px;
    font-size: 20px;
}

.center {
    display: block;
    width: 60%;
    margin: 20px auto 20px auto;

}

.product {
    width:520px;
    float: left;
    margin-top:30px;
    margin-left:50px;
}

.productImg {
    max-width: 100%;
    float: right;
    margin-top:20px;
    margin-right:100px;
}

hr {
    display: block;
    margin-bottom: 70px;
    height: 3px;
    background-color: #336699;
    border: none;
    width:500px;
    padding:1px;
    margin-top:20px;
}

footer {
    height:50px;
    line-height: 50px;
    border-top:1px dotted #333;
    clear: both;
}

footer li {
    float:left;
    list-style-type: none;
    margin-left: 20px;
    margin-right: 10px;
    font-size: .9em;
}

footer ul {
    float: right;
}

h1.capitalize {
    text-transform: capitalize;
}