/*Portal website styles*/
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
}

#wrapper {
    width:940px;
    margin:20px auto;
}

#primary {
    line-height: 50px;
    height:50px;
    background: rgba(80,169,203,0.98);
    /* keep the height of the nav*/
}

#primary ul {
    width: 1000px;
    margin: 0 auto;
}

#primary li {
    list-style-type: none;
    float: left;
    width:14%; /*7 list items in 100 - math*/
    text-align: center;

}

#primary a {
    text-decoration: none;
    color:#fff;
    display:block;

}

#primary a:hover {
    background: #336699;
}

h1 {
    font-size: 3em;
    color: #336699;
    padding-bottom: 20px;
}

h2 {
    padding-bottom: 20px;
}

h3 {
    color: red;
    padding-bottom: 10px;
    padding-top: 20px;
}

#hero {
    margin-bottom: 20px;
}

main {
    max-width:61.70%;
    float: left;

}

aside {
    max-width:36.17%;
    float: right;
    padding-bottom: 10px;
}

img {
    max-width:100%;
    display:block; /*removes space below image*/
}

aside p {
    font-size: .75em;
}

aside li {
    list-style-type: none;
}
aside a {
    font-size: .875em;
    color: #336699;
}

footer {
    height:50px;
    line-height: 50px;
    border-top:1px dotted #333;
    clear: both;
}

footer li {
    float:left;
    list-style-type: none;
    margin-left: 20px;
}

footer ul {
    float: right;
}

#logo {
    width: 150px;
    height: 150px;
    display: block;
}
