/*Our main website styles config file*/

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html {
    background-color: rgba(161,182,203,0.98);
}

header {
    overflow:hidden;
    background: rgba(118,155,203,0.98);
 }

/*margin:0 auto; will center box*/
.header-inner {
    max-width:1100px;
    margin:20px auto;
}

h1 {
    margin-bottom: 20px;
    line-height: 1.4;
}
h2 {
    margin-bottom: 20px;
    line-height: 1.4;
    color: #336699;
}

p {
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 1.4;
}

#logo {
    float: left;
    width:180px;
    margin-bottom:20px;

}

nav {
    height:50px;
    float: right;
}

nav ul {
    /*float: right;*/

}
nav li {
    float:left;
    list-style-type: none;
    margin-left:30px;
}

nav a {
    text-decoration: none;
}

.current {
    color: red;
    font-weight: bold;
}

#wrapper {
    max-width:1100px;
    margin:20px auto;
}

/*our values are based on a 940px grid
580 / 940 = 61.70*/
main {
    width:61.70%;
    height:400px;
    /*background: lightblue;*/
    float: left;
    margin-bottom: 20px;
}

aside {
    width:36.17%;
    height:300px;
    /*background: lightcoral;*/
    float: right;
}

img {
    max-width:100%;
    display:block; /*removes space below image*/
}

li  {
    list-style-type: none;
    color: darkred;
}

footer {
    height:50px;
    line-height: 50px;
    border-top:1px dotted #333;
    clear: both;
}

footer li {
    float:left;
    list-style-type: none;
    margin-left: 20px;
}
 footer ul {
     float: right;
 }

.backgroundMon {
    background-color: rgba(180,203,181,0.98);
}

.backgroundTues {
    background-color: rgba(140,203,133,0.98);
}

.backgroundWed {
    background-color: rgba(203,165,199,0.98);
}

.backgroundThur {
    background-color: rgba(187,199,203,0.98);
}

.backgroundFri {
    background-color: rgba(203,183,132,0.98);
}

.backgroundSat {
    background-color: rgba(88,199,203,0.98);
}

.backgroundSun {
    background-color: rgba(172,128,203,0.98);
}